<div class="card" [class.completed]="hero.completata">
    <small style="color: #a0aec0;">ID: #{{ hero.id }}</small>
    <h3>{{ hero.nome }}</h3>
    <p><strong>Potere:</strong> {{ hero.potere }}</p>

    <button (click)="notifyParent()" 
            [disabled]="hero.completata"
            class="btn-mission"
            [class.btn-active]="!hero.completata"
            [class.btn-done]="hero.completata">
        {{ hero.completata ? 'Missione Compiuta ✓' : 'Segna come fatta' }}
    </button>
</div>
