button {
  background-color: orangered;
  padding: 10px;
  border: solid 1;
  cursor: pointer;
}

.counter-section header {
  background-color: lightgray;
  padding: 10 px;
}

.counter-section footer {
  background-color: lightpink;
  padding: 10 px;
}
